 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=McLaren&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
 /*  font-family: "McLaren", sans-serif; */

 body {
    width: 80vw;
    /* height: 50vw; */
    margin: auto;
    background-color: #111210;
    color: white;
    padding: 0%;
    margin-top: 22px;
    font-weight: 200px;
 }
 p{
   line-height: 1.5;
 }

 .tituloSecao {

    background-color: #FFFF00;
    color: black;
    border-radius: 23px;
    font-size: 1rem;
    border: 1px solid rgb(212, 120, 28);
    margin: 1rem ;
    padding: 1rem;
 }

 #Nome {
    /* display: flex; */
    /* flex-direction: row; */
    background-color: #B22222;
    /* margin-right: 100px; */
    /* Adicione o espaçamento desejado */
    font-size: 45px;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    border: 2px solid white;
 }

 #Apresentacao {
    background-color: #E9967A;


 }

 #Formacao {
    background-color: #E9967A;

 }

 #Experiencia,
 ul,
 li {
    background-color: #E9967A;

 }

 #competenciaTecnicas {
    background-color: #E9967A;

 }

 #CompetenciasSociosEmocionais {
    background-color: #E9967A;

 }

 #linguas {
    background-color: #E9967A;

 }